
.body{
    background-color: #ffffff;
}
.h1{
    letter-spacing: 1rem;
    font-size: 1rem;
    font-style: oblique;
    text-align: center;
}
.conteiner{
    display: flex;
    height: 500px;
    background-color: #000000;
    padding: 15px;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
    gap: 20px;
}

.bloco1{
    background-color: rgb(169, 248, 248);
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.bloco2{
    background-color: rgb(212, 255, 225);
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.bloco3{
    background-color: rgb(249, 255, 190);
    width: 100px;
    height: 100px;
    border-radius: 5px;
}